@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

/* MapLibre GL JS overrides */
.maplibregl-ctrl-logo {
  display: none !important;
}
